html {
  position: relative;
  min-height: 100%;
}
body {
  background: #f5f5f5;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  transition-property: background-image;
  transition-duration: 0.5s;
  font-family: 'Microsoft Yahei',sans-serif;
}
#player-wrapper {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  color: #f5f5f5;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 17px;
}
#player-wrapper:hover {
  background-color: rgba(0,0,0,0.35);
}
#player-wrapper .left {
  font-weight: bold;
  opacity: 0.85;
}
#player-wrapper .right {
  opacity: 0.85;
}
@media (min-width: 568px) {
  #player-wrapper {
    height: 80px;
  }
  #player-wrapper .left {
    float: left;
    margin-left: 20px;
    margin-top: 27px;
  }
  #player-wrapper .right {
    float: right;
    margin-right: 20px;
    margin-top: 27px;
  }
}
@media (max-width: 567px) {
  #player-wrapper {
    height: 110px;
  }
  #player-wrapper .left {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
  }
  #player-wrapper .right {
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 340px) {
  #player-wrapper {
    height: 120px;
  }
    #player-wrapper .left {
    margin-top: 15px;
  }
  #player-wrapper .right {
    margin-top: 15px;
  }
}
#player-wrapper .m-seek-bar {
  height: 5px;
  background-color: rgba(0,0,0,0.12);
  overflow: hidden;
  cursor: pointer;
}
#player-wrapper .m-play-bar {
  height: 5px;
  background-color: rgba(255,255,255,0.65);
  overflow: hidden;
  transition: 0.5s;
}
#player-wrapper .glyphicon {
  cursor: pointer;
}
#player-wrapper .fm-icon {
  margin-left: 20px;
}
#search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 48vh;
  margin: 10vh auto;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
  color: #f5f5f5;
  display: none;
}
#search-box a {
  color: #f5f5f5;
  text-decoration: none;
}
#search-box .sinput {
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2) inset;
}
#search-box .sline {
  background: rgba(0,0,0,0.3);
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2) inset;
}
#search-box::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0,0,0,0.2);
}
#search-box::-webkit-scrollbar-thumb {
  background-color: rgba(240,240,240,0.65);
}